body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header img{
  padding-inline-start: 2%;
}

header {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

header nav {
  display: flex;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

main h2 {
  margin-bottom: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 33%;
  text-align: center;
  margin-bottom: 20px;
}

.product img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

.product h3 {
  margin: 10px 0;
}

.product p {
  font-weight: bold;
  margin: 10px 0
}

footer {
  text-align: center; /* center the content inside the footer */
  /* width: 100%; */
  /* set the width of the footer */
  /* margin: 0 auto; */
  /* center the footer horizontally */
  background-color: #333;
  color: aliceblue;

  padding: 108px ; 
}